$themeVars: "";
@function createThemeVar($componentVariable) {
  @return var(--xmlui-#{$componentVariable});
}

$gap-Form: createThemeVar("gap-Form");
$gap-buttonRow-Form: createThemeVar("gap-buttonRow-Form");
$marginTop-buttonRow-Form: createThemeVar("marginTop-buttonRow-Form");
$textColor-error-Form: createThemeVar("textColor-error-Form");

.form {
  display: flex;
  flex-direction: column;
  gap: $gap-Form;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $gap-Form;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  gap: $gap-buttonRow-Form;
  align-items: center;
  margin-top: $marginTop-buttonRow-Form;
}

.validationSummary {
  color: $textColor-error-Form;
}
