@use "../../components-core/theming/themes" as t;

$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

// Variables for @layer section
$gap-Form: createThemeVar("gap-Form");
$gap-buttonRow-Form: createThemeVar("gap-buttonRow-Form");
$marginTop-buttonRow-Form: createThemeVar("marginTop-buttonRow-Form");
$backgroundColor-Form: createThemeVar("backgroundColor-Form");

@layer components {
  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-Form;
    background-color: $backgroundColor-Form;
  }

  .buttonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: $gap-buttonRow-Form;
    margin-top: $marginTop-buttonRow-Form;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
