@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$borderRadius-FileUploadDropZone: createThemeVar("borderRadius-FileUploadDropZone");
$borderColor-FileUploadDropZone: createThemeVar("borderColor-FileUploadDropZone--default");
$borderWidth-FileUploadDropZone: createThemeVar("borderWidth-FileUploadDropZone--default");
$borderStyle-FileUploadDropZone: createThemeVar("borderStyle-FileUploadDropZone--default");

$backgroundColor-FileUploadDropZone: createThemeVar("backgroundColor-FileUploadDropZone");
$textColor-FileUploadDropZone: createThemeVar("textColor-FileUploadDropZone");
$textColor-dropping-FileUploadDropZone: createThemeVar("textColor-dropping-FileUploadDropZone");
$backgroundColor-dropping-FileUploadDropZone: createThemeVar(
  "backgroundColor-dropping-FileUploadDropZone"
);
$opacity-dropping-FileUploadDropZone: createThemeVar("opacity-dropping-FileUploadDropZone");

@layer components {
  .wrapper {
    position: relative;
    background-color: $backgroundColor-FileUploadDropZone;
    border-radius: $borderRadius-FileUploadDropZone;
    border-color: $borderColor-FileUploadDropZone;
    border-width: $borderWidth-FileUploadDropZone;
    border-style: $borderStyle-FileUploadDropZone;
    display: flex;
    flex-direction: column;
  }

  .dropPlaceholder {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $textColor-FileUploadDropZone;

    &.onDragActive  {
      color: $textColor-dropping-FileUploadDropZone;
      &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: $backgroundColor-dropping-FileUploadDropZone;
        opacity: $opacity-dropping-FileUploadDropZone;
      }
    }
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
