$themeVars: "";
@function createThemeVar($componentVariable) {
  @return var(--xmlui-#{$componentVariable});
}

$gap-FormSegment: createThemeVar("gap-FormSegment");
$padding-FormSegment: createThemeVar("padding-FormSegment");
$backgroundColor-FormSegment: createThemeVar("backgroundColor-FormSegment");
$borderRadius-FormSegment: createThemeVar("borderRadius-FormSegment");

.segment {
  display: flex;
  flex-direction: column;
  gap: var($gap-FormSegment);
  padding: var($padding-FormSegment);
  background-color: var($backgroundColor-FormSegment);
  border-radius: var($borderRadius-FormSegment);
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

