@import 'nextra-theme-docs/style.css';

:root {
  --nextra-primary-hue: 212deg;
  --nextra-primary-saturation: 100%;
  --nextra-navbar-height: 4rem;
  --nextra-menu-height: 3.75rem;
  --nextra-banner-height: 2.5rem;

  --syntax-token-component: #cb5291;
  --syntax-token-delimiter-angle: #66748E;
  --syntax-token-attribute-name: #2d2d2d;
  --syntax-token-equal-sign: #2d2d2d;
  --syntax-token-string: #0074a9;
  --syntax-token-script: #02A1A1;
  --syntax-token-helper: #005AE1;
  --syntax-token-comment: #4E4E4E;
  --syntax-token-escape: #00B248;
  --syntax-token-constant: #708C00;
  --syntax-token-cdata: #079CF1;
  --syntax-token-delimiter-curly: #000000;
  --syntax-token-text: #4e5fb3;
}

:is(html[class~=dark]) {
  --syntax-token-component: #f472b6;
  --syntax-token-delimiter-angle: #97A7C5;
  --syntax-token-attribute-name: #cbd5e1;
  --syntax-token-equal-sign: #cbd5e1;
  --syntax-token-string: #7dd3fc;
  --syntax-token-script: #78DBDB;
  --syntax-token-helper: #80A6F8;
  --syntax-token-comment: #CFCFCF;
  --syntax-token-escape: #61F69D;
  --syntax-token-constant: #BAF80A;
  --syntax-token-cdata: #5CC1F9;
  --syntax-token-delimiter-curly: #FFFFFF;
  --syntax-token-text: #f5f5ff;

  ul[class^='nextra-menu'], ul[class*=' nextra-menu'] li {
    > a:hover, > button:hover {
      background-color: #1c5aa02a;
    }

    > button > svg:hover {
      background-color: #1c5aa02a;
    }

    &.active {
      > a {
        background-color: transparent;
      }
    }
  }

  aside.nextra-sidebar-container {
    background-color: transparent;
    border-right: 1px solid #313b491f;

    div.nextra-scrollbar {
      padding: 1.5rem;
    }
  }

  h1 {
    font-size: 1.875rem;
    line-height: 2.2rem;
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 3rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 3rem;
  }

  article main {
    padding-top: 2rem;
  }

  article main p {
    margin-top: 1.25rem;
  }
}

:is(html[class~=light]) {
  ul[class^='nextra-menu'], ul[class*=' nextra-menu'] li {
    > a:hover, > button:hover {
      background-color: #004ca30c;
    }

    > button > svg:hover {
      background-color: #004ca30c;
    }

    &.active {
      > a {
        background-color: transparent;
      }
    }
  }
  
  aside.nextra-sidebar-container {
    background-color: #f8fafc;
    border-right: 1px solid #313b491f;

    div.nextra-scrollbar {
      padding: 1.5rem;
    }
  }
  
  div.nextra-nav-container-blur {
    box-shadow: 0 0 0 1px #313b491f;
  }
  
  h1 {
    font-size: 1.875rem;
    line-height: 2.2rem;
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 3rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 3rem;
  }
  
  article main {
    padding-top: 2rem;
  } 
  
  article main p {
    margin-top: 1.25rem;
  }
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  font-feature-settings: "cv03", "cv04", "cv11"
}
