@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$scrollPaddingBlockPage: createThemeVar("scroll-padding-block-Pages");

@layer components {
  .appContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    isolation: isolate;
  }

  // Horizontal layout specific styles
  :global(.wrapper.horizontal) .appContainer {
    overflow: auto;
    scroll-padding-block: $scrollPaddingBlockPage;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
