@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$boxShadow-navPanel-App: createThemeVar("boxShadow-navPanel-App");
$backgroundColor-content-App: createThemeVar("backgroundColor-content-App");
$borderLeft-content-App: createThemeVar("borderLeft-content-App");

@layer components {
  .contentSlot {
    position: relative;
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: $boxShadow-navPanel-App;
    background-color: $backgroundColor-content-App;
    border-left: $borderLeft-content-App;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
