@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$borderBottom-NavPanel: createThemeVar("borderBottom-AppHeader");
$backgroundColor-navPanel-App: createThemeVar("backgroundColor-navPanel-App");

@layer components {
  .navPanelSlot {
    display: flex;
    position: sticky;
    top: 0;

    &:empty {
      display: none;
    }
  }

  // Horizontal layout specific styles
  :global(.wrapper.horizontal) .navPanelSlot {
    border-bottom: $borderBottom-NavPanel;
    justify-content: end;
    background-color: $backgroundColor-navPanel-App;
    padding: 0;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
