@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "NavLink";
$themeVars: t.composePaddingVars($themeVars, $component);
$themeVars: t.composeBorderVars($themeVars, $component);

// Compose level-specific padding variables (level1 to level4) with fallback to base NavLink
$themeVars: t.appendThemeVarWithDefault($themeVars, "padding-level1-#{$component}", t.getThemeVar($themeVars, "padding-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingHorizontal-level1-#{$component}", t.getThemeVar($themeVars, "paddingHorizontal-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingVertical-level1-#{$component}", t.getThemeVar($themeVars, "paddingVertical-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingLeft-level1-#{$component}", t.getThemeVar($themeVars, "paddingLeft-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingRight-level1-#{$component}", t.getThemeVar($themeVars, "paddingRight-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingTop-level1-#{$component}", t.getThemeVar($themeVars, "paddingTop-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingBottom-level1-#{$component}", t.getThemeVar($themeVars, "paddingBottom-#{$component}")) !global;

$themeVars: t.appendThemeVarWithDefault($themeVars, "padding-level2-#{$component}", t.getThemeVar($themeVars, "padding-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingHorizontal-level2-#{$component}", t.getThemeVar($themeVars, "paddingHorizontal-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingVertical-level2-#{$component}", t.getThemeVar($themeVars, "paddingVertical-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingLeft-level2-#{$component}", t.getThemeVar($themeVars, "paddingLeft-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingRight-level2-#{$component}", t.getThemeVar($themeVars, "paddingRight-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingTop-level2-#{$component}", t.getThemeVar($themeVars, "paddingTop-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingBottom-level2-#{$component}", t.getThemeVar($themeVars, "paddingBottom-#{$component}")) !global;

$themeVars: t.appendThemeVarWithDefault($themeVars, "padding-level3-#{$component}", t.getThemeVar($themeVars, "padding-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingHorizontal-level3-#{$component}", t.getThemeVar($themeVars, "paddingHorizontal-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingVertical-level3-#{$component}", t.getThemeVar($themeVars, "paddingVertical-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingLeft-level3-#{$component}", t.getThemeVar($themeVars, "paddingLeft-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingRight-level3-#{$component}", t.getThemeVar($themeVars, "paddingRight-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingTop-level3-#{$component}", t.getThemeVar($themeVars, "paddingTop-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingBottom-level3-#{$component}", t.getThemeVar($themeVars, "paddingBottom-#{$component}")) !global;

$themeVars: t.appendThemeVarWithDefault($themeVars, "padding-level4-#{$component}", t.getThemeVar($themeVars, "padding-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingHorizontal-level4-#{$component}", t.getThemeVar($themeVars, "paddingHorizontal-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingVertical-level4-#{$component}", t.getThemeVar($themeVars, "paddingVertical-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingLeft-level4-#{$component}", t.getThemeVar($themeVars, "paddingLeft-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingRight-level4-#{$component}", t.getThemeVar($themeVars, "paddingRight-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingTop-level4-#{$component}", t.getThemeVar($themeVars, "paddingTop-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingBottom-level4-#{$component}", t.getThemeVar($themeVars, "paddingBottom-#{$component}")) !global;

$backgroundColor-NavLink: createThemeVar("backgroundColor-#{$component}");
$backgroundColor-NavLink--hover: createThemeVar("backgroundColor-#{$component}--hover");
$backgroundColor-NavLink--hover--active: createThemeVar("backgroundColor-#{$component}--hover--active");
$backgroundColor-NavLink--active: createThemeVar("backgroundColor-#{$component}--active");
$backgroundColor-NavLink--pressed: createThemeVar("backgroundColor-#{$component}--pressed");
$backgroundColor-NavLink--pressed--active: createThemeVar("backgroundColor-#{$component}--pressed--active");
$fontSize-NavLink: createThemeVar("fontSize-#{$component}");
$lineHeight-NavLink: createThemeVar("lineHeight-#{$component}");
$wordWrap-NavLink: createThemeVar("wordWrap-#{$component}");
$textColor-NavLink: createThemeVar("textColor-#{$component}");
$textColor-NavLink--hover: createThemeVar("textColor-#{$component}--hover");
$textColor-NavLink--active: createThemeVar("textColor-#{$component}--active");
$textColor-NavLink--hover--active: createThemeVar("textColor-#{$component}--hover--active");
$textColor-NavLink--pressed: createThemeVar("textColor-#{$component}--pressed");
$textColor-NavLink--pressed--active: createThemeVar("textColor-#{$component}--pressed--active");
$color-icon-NavLink: createThemeVar("color-icon-#{$component}");
$fontFamily-NavLink: createThemeVar("fontFamily-#{$component}");
$fontWeight-NavLink: createThemeVar("fontWeight-#{$component}");
$fontWeight-NavLink--pressed: createThemeVar("fontWeight-#{$component}--pressed");
$fontWeight-NavLink--active: createThemeVar("fontWeight-#{$component}--active");
$borderRadius-indicator-NavLink: createThemeVar("borderRadius-indicator-#{$component}");
$thickness-indicator-NavLink: createThemeVar("thickness-indicator-#{$component}");
$color-indicator-NavLink: createThemeVar("color-indicator-#{$component}");
$color-indicator-NavLink--hover: createThemeVar("color-indicator-#{$component}--hover");
$color-indicator-NavLink--active: createThemeVar("color-indicator-#{$component}--active");
$color-indicator-NavLink--pressed: createThemeVar("color-indicator-#{$component}--pressed");
$iconAlignment-NavLink: createThemeVar("iconAlignment-#{$component}");
$gap-icon-NavLink: createThemeVar("gap-icon-#{$component}");

// Variables for @layer section
$outlineWidth-NavLink--focus: createThemeVar('outlineWidth-#{$component}--focus');
$outlineColor-NavLink--focus: createThemeVar('outlineColor-#{$component}--focus');
$outlineStyle-NavLink--focus: createThemeVar('outlineStyle-#{$component}--focus');
$outlineOffset-NavLink--focus: createThemeVar('outlineOffset-#{$component}--focus');

$transition: color 0.1s, background-color 0.1s;

@layer components {
  .content {
    --nav-link-level: 0;
    &.base {
      &::before{
        content: "";
        width: calc(var(--nav-link-level) * 1em);
        display: block;
        flex-shrink: 0;
      }
      @include t.borderVars($themeVars, $component);
      @include t.paddingVars($themeVars, $component);
      outline: inherit;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: $fontSize-NavLink;
      font-weight: $fontWeight-NavLink;
      font-family: $fontFamily-NavLink;
      line-height: $lineHeight-NavLink;
      word-wrap: $wordWrap-NavLink;
      position: relative;
      transition: $transition;
      color: $textColor-NavLink;
      background-color: $backgroundColor-NavLink;
      flex-shrink: 0;
      white-space: nowrap;

      .icon {
        color: $color-icon-NavLink;
      }

      * {
        color: $textColor-NavLink;
      }

      &.includeHoverIndicator {
        &:after {
          transition: $transition;
          position: absolute;
          left: 0.1em;
          right: 0.1em;
          bottom: 0;
          height: $thickness-indicator-NavLink;
          border-radius: $borderRadius-indicator-NavLink;
          content: "";
        }
      }

      &:hover,
      &:focus-visible {
        color: $textColor-NavLink--hover;
        background-color: $backgroundColor-NavLink--hover;
        * {
          color: $textColor-NavLink--hover;
        }
        &:after {
          background-color: $color-indicator-NavLink--hover;
        }
      }


      &:focus-visible{
        outline-width: $outlineWidth-NavLink--focus;
        outline-color: $outlineColor-NavLink--focus;
        outline-style: $outlineStyle-NavLink--focus;
        outline-offset: $outlineOffset-NavLink--focus;
      }

      &[role='menuitem']{           //e.g. inside a navGroup, for hover it focuses the item, so it's always visible, that's why we have this selector here
        outline: none;
        &:not(:hover):focus-visible{
          outline-width: $outlineWidth-NavLink--focus;
          outline-color: $outlineColor-NavLink--focus;
          outline-style: $outlineStyle-NavLink--focus;
          outline-offset: $outlineOffset-NavLink--focus;
        }
      }

      &:active.displayActive {
        color: $textColor-NavLink--pressed;
        background-color: $backgroundColor-NavLink--pressed;
        font-weight: $fontWeight-NavLink--pressed;
        * {
          font-weight: $fontWeight-NavLink--pressed;
          color: $textColor-NavLink--pressed;
        }
        &:after {
          background-color: $color-indicator-NavLink--pressed;
        }
      }

      &.navItemActive {
        color: $textColor-NavLink--active;
        background-color: $backgroundColor-NavLink--active;
        font-weight: $fontWeight-NavLink--active;
        * {
          font-weight: $fontWeight-NavLink--active;
          color: $textColor-NavLink--active;
        }
        & > * {
          z-index: 1;
        }
        &:hover {
          color: $textColor-NavLink--hover--active;
          background-color: $backgroundColor-NavLink--hover--active;
          * {
            color: $textColor-NavLink--hover--active;
          }
        }
        &:after {
          z-index: 0;
          background-color: $color-indicator-NavLink--active;
        }

        &:active {
          color: $textColor-NavLink--pressed--active;
          background-color: $backgroundColor-NavLink--pressed--active;
          font-weight: $fontWeight-NavLink--pressed;
          * {
            font-weight: $fontWeight-NavLink--pressed;
            color: $textColor-NavLink--pressed--active;
          }
          &:after {
            background-color: $color-indicator-NavLink--pressed;
          }
        }
      }

      &.disabled {
        cursor: not-allowed;
        color: t.$textColor--disabled;
      }

      &.vertical {
        &:after {
          top: 0;
          bottom: 0;
          left: 0;
          right: auto;
          width: $thickness-indicator-NavLink;
          height: auto;
          border-radius: $borderRadius-indicator-NavLink;
        }
      }

      &.indented {
        padding-left: 2.4em;
        flex-shrink: 0;
      }
    }
  }

  .level1 {
    padding: t.getThemeVar($themeVars, "padding-level1-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-level1-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-level1-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-level1-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-level1-#{$component}") !important;
  }

  .level2 {
    padding: t.getThemeVar($themeVars, "padding-level2-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-level2-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-level2-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-level2-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-level2-#{$component}") !important;
  }

  .level3 {
    padding: t.getThemeVar($themeVars, "padding-level3-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-level3-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-level3-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-level3-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-level3-#{$component}") !important;
  }

  .level4 {
    padding: t.getThemeVar($themeVars, "padding-level4-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-level4-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-level4-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-level4-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-level4-#{$component}") !important;
  }

  .innerContent{
    display: flex;
    align-items: center;
    gap: $gap-icon-NavLink;
    flex: 1;
    white-space: break-spaces;
    overflow-wrap: anywhere;

    &.iconAlignBaseline {
      align-items: flex-start;
      
      & > :first-child {
        // Center icon with first line of text
        margin-top: 0.2em;
      }
    }

    &.iconAlignStart {
      align-items: flex-start;
    }

    &.iconAlignCenter {
      align-items: center;
    }

    &.iconAlignEnd {
      align-items: flex-end;
    }
  }

  .icon {
    flex-shrink: 0;
  }
}


// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
