@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "ExpandableItem";
$themeVars: t.composeBorderVars($themeVars, $component);
$themeVars: t.composePaddingVars($themeVars, $component);
$themeVars: t.composePaddingVars($themeVars, "summary-#{$component}");
$themeVars: t.composePaddingVars($themeVars, "content-#{$component}");
$backgroundColor-ExpandableItem: createThemeVar("backgroundColor-#{$component}");
$backgroundColor-ExpandableItem--hover: createThemeVar("backgroundColor-#{$component}--hover");
$backgroundColor-ExpandableItem--active: createThemeVar("backgroundColor-#{$component}--active");
$borderRadius-summary-ExpandableItem: createThemeVar("borderRadius-summary-#{$component}");
$color-ExpandableItem: createThemeVar("color-#{$component}");
$color-ExpandableItem--disabled: createThemeVar("color-#{$component}--disabled");
$fontFamily-ExpandableItem: createThemeVar("fontFamily-#{$component}");
$fontSize-ExpandableItem: createThemeVar("fontSize-#{$component}");
$fontWeight-ExpandableItem: createThemeVar("fontWeight-#{$component}");
$paddingVertical-ExpandableItem-summary: createThemeVar("paddingVertical-#{$component}-summary");
$paddingHorizontal-ExpandableItem-summary: createThemeVar("paddingHorizontal-#{$component}-summary");
$gap-ExpandableItem: createThemeVar("gap-#{$component}");
$transition-summary-ExpandableItem: createThemeVar("transition-summary-#{$component}");
$animation-content-ExpandableItem: createThemeVar("animation-content-#{$component}");
$animationDuration-content-ExpandableItem: createThemeVar("animationDuration-content-#{$component}");

@layer components {
  .expandableItem {
    width: fit-content;
    @include t.borderVars($themeVars, $component);
    @include t.paddingVars($themeVars, $component);
    background-color: $backgroundColor-ExpandableItem;
    color: $color-ExpandableItem;
    font-family: $fontFamily-ExpandableItem;
    font-size: $fontSize-ExpandableItem;
    font-weight: $fontWeight-ExpandableItem;
    &.disabled {
      color: $color-ExpandableItem--disabled;
      cursor: not-allowed;
    }
    
    .summary {
      display: inline-flex;
      align-items: center;
      gap: $gap-ExpandableItem;
      cursor: pointer;
      user-select: none;
      @include t.paddingVars($themeVars, "summary-#{$component}");
      border-radius: $borderRadius-summary-ExpandableItem;
      transition: $transition-summary-ExpandableItem;

      &:hover {
        background-color: $backgroundColor-ExpandableItem--hover;
      }

      &:active {
        background-color: $backgroundColor-ExpandableItem--active;
      }
      
      &.iconStart {
        flex-direction: row;
      }
      
      &.iconEnd {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
      
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .switch {
        display: flex;
        align-items: center;
      }
      
      .summaryContent {
        flex: 1;
      }
    }

    &.withSwitch {
      .summary {
        cursor: pointer;
      }
    }
    
    .content {
      width: 100%;
      @include t.paddingVars($themeVars, "content-#{$component}");
      animation: expandableItemSlideIn $animationDuration-content-ExpandableItem $animation-content-ExpandableItem;
      
      &.contentHidden {
        display: none;
      }
    }

    @keyframes expandableItemSlideIn {
      from {
        opacity: 0;
        transform: translateY(-8px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    &.disabled .summary {
      cursor: not-allowed;
    }
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}

