.button {
  padding: .5rem 1rem;
}

.RadixMenuContent {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  width: fit-content;
  background-color: hsl(var(--nextra-primary-hue), var(--nextra-primary-saturation), 100%, 1);
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.RadixMenuContent[data-side='top'] {
  animation-name: slideDownAndFade;
}

.RadixMenuContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}

.RadixMenuContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.RadixMenuContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(38, 38, 38, var(--tw-bg-opacity));
}

.RadixMenuRadioGroup {
  width: 100%;
}

.RadixMenuItem,
.RadixMenuRadioItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  padding-left: 1rem;
  user-select: none;
  outline: none;
}

.RadixMenuItem[data-disabled],
.RadixMenuRadioItem[data-disabled] {
  pointer-events: none;
}

.RadixMenuItem[data-highlighted],
.RadixMenuRadioItem[data-highlighted] {
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  color: rgba(51, 65, 85, var(--tw-text-opacity));
}

:is(html[class~=dark] .RadixMenuRadioItem[data-highlighted], .RadixMenuItem[data-highlighted]) {
  background-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 94%/.05);
  --tw-text-opacity: 1;
  color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 45%/var(--tw-text-opacity));

}

.RadixMenuLabel {
  padding-left: 1rem;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
}

.RadixMenuSeparator {
  height: 1px;
  --tw-text-opacity: 1;
  background-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 45%/var(--tw-text-opacity));
  margin: 5px;
}

.RadixMenuItemIndicator {
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
