@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "SimpleTooltip";
$themeVars: t.composePaddingVars($themeVars, $component);

// --- Theme variables for SimpleTooltip component
$backgroundColor-SimpleTooltip: createThemeVar("backgroundColor-#{$component}");
$textColor-SimpleTooltip: createThemeVar("textColor-#{$component}");
$borderRadius-SimpleTooltip: createThemeVar("borderRadius-#{$component}");
$fontSize-SimpleTooltip: createThemeVar("fontSize-#{$component}");
$lineHeight-SimpleTooltip: createThemeVar("lineHeight-#{$component}");
$boxShadow-SimpleTooltip: createThemeVar("boxShadow-#{$component}");
$arrowFill-SimpleTooltip: createThemeVar("arrowFill-#{$component}");
$animationDuration-SimpleTooltip: createThemeVar("animationDuration-#{$component}");
$animationTimingFunction-SimpleTooltip: createThemeVar("animationTimingFunction-#{$component}");

/* SimpleTooltip styles */

.hiddenTrigger {
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
}

.content {
  border-radius: $borderRadius-SimpleTooltip;
  @include t.paddingVars($themeVars, $component);
  font-size: $fontSize-SimpleTooltip;
  line-height: $lineHeight-SimpleTooltip;
  color: $textColor-SimpleTooltip;
  background-color: $backgroundColor-SimpleTooltip;
  box-shadow: $boxShadow-SimpleTooltip;
  user-select: none;
  animation-duration: $animationDuration-SimpleTooltip;
  animation-timing-function: $animationTimingFunction-SimpleTooltip;
  will-change: transform, opacity;
}

.content[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}

.content[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}

.content[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.content[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.arrow {
  fill: $arrowFill-SimpleTooltip;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
