@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: (
);

@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$componentName: "TextArea";
$themeVars: t.composePaddingVars($themeVars, $componentName);

// Variables for default variant
$borderRadius-TextArea--default: createThemeVar("Input:borderRadius-#{$componentName}--default");
$borderColor-TextArea--default: createThemeVar("Input:borderColor-#{$componentName}--default");
$borderWidth-TextArea--default: createThemeVar("Input:borderWidth-#{$componentName}--default");
$borderStyle-TextArea--default: createThemeVar("Input:borderStyle-#{$componentName}--default");
$fontSize-TextArea--default: createThemeVar("Input:fontSize-#{$componentName}--default");
$backgroundColor-TextArea--default: createThemeVar("Input:backgroundColor-#{$componentName}--default");
$boxShadow-TextArea--default: createThemeVar("Input:boxShadow-#{$componentName}--default");
$textColor-TextArea--default: createThemeVar("Input:textColor-#{$componentName}--default");
$borderColor-TextArea--default--hover: createThemeVar("Input:borderColor-#{$componentName}--default--hover");
$backgroundColor-TextArea--default--hover: createThemeVar("Input:backgroundColor-#{$componentName}--default--hover");
$boxShadow-TextArea--default--hover: createThemeVar("Input:boxShadow-#{$componentName}--default--hover");
$textColor-TextArea--default--hover: createThemeVar("Input:textColor-#{$componentName}--default--hover");
$borderColor-TextArea--default--focus: createThemeVar("Input:borderColor-#{$componentName}--default--focus");
$backgroundColor-TextArea--default--focus: createThemeVar("Input:backgroundColor-#{$componentName}--default--focus");
$boxShadow-TextArea--default--focus: createThemeVar("Input:boxShadow-#{$componentName}--default--focus");
$textColor-TextArea--default--focus: createThemeVar("Input:textColor-#{$componentName}--default--focus");
$outlineWidth-TextArea--default--focus: createThemeVar("Input:outlineWidth-#{$componentName}--default--focus");
$outlineColor-TextArea--default--focus: createThemeVar("Input:outlineColor-#{$componentName}--default--focus");
$outlineStyle-TextArea--default--focus: createThemeVar("Input:outlineStyle-#{$componentName}--default--focus");
$outlineOffset-TextArea--default--focus: createThemeVar("Input:outlineOffset-#{$componentName}--default--focus");
$textColor-placeholder-TextArea--default: createThemeVar("Input:textColor-placeholder-#{$componentName}--default");
$fontSize-placeholder-TextArea--default: createThemeVar("Input:fontSize-placeholder-#{$componentName}--default");

// Variables for error variant
$borderRadius-TextArea--error: createThemeVar("Input:borderRadius-#{$componentName}--error");
$borderColor-TextArea--error: createThemeVar("Input:borderColor-#{$componentName}--error");
$borderWidth-TextArea--error: createThemeVar("Input:borderWidth-#{$componentName}--error");
$borderStyle-TextArea--error: createThemeVar("Input:borderStyle-#{$componentName}--error");
$fontSize-TextArea--error: createThemeVar("Input:fontSize-#{$componentName}--error");
$backgroundColor-TextArea--error: createThemeVar("Input:backgroundColor-#{$componentName}--error");
$boxShadow-TextArea--error: createThemeVar("Input:boxShadow-#{$componentName}--error");
$textColor-TextArea--error: createThemeVar("Input:textColor-#{$componentName}--error");
$borderColor-TextArea--error--hover: createThemeVar("Input:borderColor-#{$componentName}--error--hover");
$backgroundColor-TextArea--error--hover: createThemeVar("Input:backgroundColor-#{$componentName}--error--hover");
$boxShadow-TextArea--error--hover: createThemeVar("Input:boxShadow-#{$componentName}--error--hover");
$textColor-TextArea--error--hover: createThemeVar("Input:textColor-#{$componentName}--error--hover");
$borderColor-TextArea--error--focus: createThemeVar("Input:borderColor-#{$componentName}--error--focus");
$backgroundColor-TextArea--error--focus: createThemeVar("Input:backgroundColor-#{$componentName}--error--focus");
$boxShadow-TextArea--error--focus: createThemeVar("Input:boxShadow-#{$componentName}--error--focus");
$textColor-TextArea--error--focus: createThemeVar("Input:textColor-#{$componentName}--error--focus");
$outlineWidth-TextArea--error--focus: createThemeVar("Input:outlineWidth-#{$componentName}--error--focus");
$outlineColor-TextArea--error--focus: createThemeVar("Input:outlineColor-#{$componentName}--error--focus");
$outlineStyle-TextArea--error--focus: createThemeVar("Input:outlineStyle-#{$componentName}--error--focus");
$outlineOffset-TextArea--error--focus: createThemeVar("Input:outlineOffset-#{$componentName}--error--focus");
$textColor-placeholder-TextArea--error: createThemeVar("Input:textColor-placeholder-#{$componentName}--error");
$fontSize-placeholder-TextArea--error: createThemeVar("Input:fontSize-placeholder-#{$componentName}--error");

// Variables for warning variant
$borderRadius-TextArea--warning: createThemeVar("Input:borderRadius-#{$componentName}--warning");
$borderColor-TextArea--warning: createThemeVar("Input:borderColor-#{$componentName}--warning");
$borderWidth-TextArea--warning: createThemeVar("Input:borderWidth-#{$componentName}--warning");
$borderStyle-TextArea--warning: createThemeVar("Input:borderStyle-#{$componentName}--warning");
$fontSize-TextArea--warning: createThemeVar("Input:fontSize-#{$componentName}--warning");
$backgroundColor-TextArea--warning: createThemeVar("Input:backgroundColor-#{$componentName}--warning");
$boxShadow-TextArea--warning: createThemeVar("Input:boxShadow-#{$componentName}--warning");
$textColor-TextArea--warning: createThemeVar("Input:textColor-#{$componentName}--warning");
$borderColor-TextArea--warning--hover: createThemeVar("Input:borderColor-#{$componentName}--warning--hover");
$backgroundColor-TextArea--warning--hover: createThemeVar("Input:backgroundColor-#{$componentName}--warning--hover");
$boxShadow-TextArea--warning--hover: createThemeVar("Input:boxShadow-#{$componentName}--warning--hover");
$textColor-TextArea--warning--hover: createThemeVar("Input:textColor-#{$componentName}--warning--hover");
$borderColor-TextArea--warning--focus: createThemeVar("Input:borderColor-#{$componentName}--warning--focus");
$backgroundColor-TextArea--warning--focus: createThemeVar("Input:backgroundColor-#{$componentName}--warning--focus");
$boxShadow-TextArea--warning--focus: createThemeVar("Input:boxShadow-#{$componentName}--warning--focus");
$textColor-TextArea--warning--focus: createThemeVar("Input:textColor-#{$componentName}--warning--focus");
$outlineWidth-TextArea--warning--focus: createThemeVar("Input:outlineWidth-#{$componentName}--warning--focus");
$outlineColor-TextArea--warning--focus: createThemeVar("Input:outlineColor-#{$componentName}--warning--focus");
$outlineStyle-TextArea--warning--focus: createThemeVar("Input:outlineStyle-#{$componentName}--warning--focus");
$outlineOffset-TextArea--warning--focus: createThemeVar("Input:outlineOffset-#{$componentName}--warning--focus");
$textColor-placeholder-TextArea--warning: createThemeVar("Input:textColor-placeholder-#{$componentName}--warning");
$fontSize-placeholder-TextArea--warning: createThemeVar("Input:fontSize-placeholder-#{$componentName}--warning");

// Variables for success variant
$borderRadius-TextArea--success: createThemeVar("Input:borderRadius-#{$componentName}--success");
$borderColor-TextArea--success: createThemeVar("Input:borderColor-#{$componentName}--success");
$borderWidth-TextArea--success: createThemeVar("Input:borderWidth-#{$componentName}--success");
$borderStyle-TextArea--success: createThemeVar("Input:borderStyle-#{$componentName}--success");
$fontSize-TextArea--success: createThemeVar("Input:fontSize-#{$componentName}--success");
$backgroundColor-TextArea--success: createThemeVar("Input:backgroundColor-#{$componentName}--success");
$boxShadow-TextArea--success: createThemeVar("Input:boxShadow-#{$componentName}--success");
$textColor-TextArea--success: createThemeVar("Input:textColor-#{$componentName}--success");
$borderColor-TextArea--success--hover: createThemeVar("Input:borderColor-#{$componentName}--success--hover");
$backgroundColor-TextArea--success--hover: createThemeVar("Input:backgroundColor-#{$componentName}--success--hover");
$boxShadow-TextArea--success--hover: createThemeVar("Input:boxShadow-#{$componentName}--success--hover");
$textColor-TextArea--success--hover: createThemeVar("Input:textColor-#{$componentName}--success--hover");
$borderColor-TextArea--success--focus: createThemeVar("Input:borderColor-#{$componentName}--success--focus");
$backgroundColor-TextArea--success--focus: createThemeVar("Input:backgroundColor-#{$componentName}--success--focus");
$boxShadow-TextArea--success--focus: createThemeVar("Input:boxShadow-#{$componentName}--success--focus");
$textColor-TextArea--success--focus: createThemeVar("Input:textColor-#{$componentName}--success--focus");
$outlineWidth-TextArea--success--focus: createThemeVar("Input:outlineWidth-#{$componentName}--success--focus");
$outlineColor-TextArea--success--focus: createThemeVar("Input:outlineColor-#{$componentName}--success--focus");
$outlineStyle-TextArea--success--focus: createThemeVar("Input:outlineStyle-#{$componentName}--success--focus");
$outlineOffset-TextArea--success--focus: createThemeVar("Input:outlineOffset-#{$componentName}--success--focus");
$textColor-placeholder-TextArea--success: createThemeVar("Input:textColor-placeholder-#{$componentName}--success");
$fontSize-placeholder-TextArea--success: createThemeVar("Input:fontSize-placeholder-#{$componentName}--success");

// Variables for @layer section
$backgroundColor-TextArea--disabled: createThemeVar("Input:backgroundColor-#{$componentName}--disabled");
$textColor-TextArea--disabled: createThemeVar("Input:textColor-#{$componentName}--disabled");
$borderColor-TextArea--disabled: createThemeVar("Input:borderColor-#{$componentName}--disabled");

// --- CSS properties of a particular Textarea variant
@mixin variant($variantName) {
  border-radius: createThemeVar("Input:borderRadius-#{$componentName}--#{$variantName}");
  border-color: createThemeVar("Input:borderColor-#{$componentName}--#{$variantName}");
  border-width: createThemeVar("Input:borderWidth-#{$componentName}--#{$variantName}");
  border-style: createThemeVar("Input:borderStyle-#{$componentName}--#{$variantName}");
  font-size: createThemeVar("Input:fontSize-#{$componentName}--#{$variantName}");

  background-color: createThemeVar("Input:backgroundColor-#{$componentName}--#{$variantName}");
  box-shadow: createThemeVar("Input:boxShadow-#{$componentName}--#{$variantName}");
  color: createThemeVar("Input:textColor-#{$componentName}--#{$variantName}");

  &:hover {
    border-color: createThemeVar("Input:borderColor-#{$componentName}--#{$variantName}--hover");
    background-color: createThemeVar("Input:backgroundColor-#{$componentName}--#{$variantName}--hover"
    );
    box-shadow: createThemeVar("Input:boxShadow-#{$componentName}--#{$variantName}--hover");
    color: createThemeVar("Input:textColor-#{$componentName}--#{$variantName}--hover");
  }

  &:focus-within {
    border-color: createThemeVar("Input:borderColor-#{$componentName}--#{$variantName}--focus");
    background-color: createThemeVar("Input:backgroundColor-#{$componentName}--#{$variantName}--focus"
    );
    box-shadow: createThemeVar("Input:boxShadow-#{$componentName}--#{$variantName}--focus");
    color: createThemeVar("Input:textColor-#{$componentName}--#{$variantName}--focus");
  }

  &:focus-visible {
    outline-width: createThemeVar("Input:outlineWidth-#{$componentName}--#{$variantName}--focus");
    outline-color: createThemeVar("Input:outlineColor-#{$componentName}--#{$variantName}--focus");
    outline-style: createThemeVar("Input:outlineStyle-#{$componentName}--#{$variantName}--focus");
    outline-offset: createThemeVar("Input:outlineOffset-#{$componentName}--#{$variantName}--focus");
  }

  &::placeholder {
    color: createThemeVar("Input:textColor-placeholder-#{$componentName}--#{$variantName}");
    font-size: createThemeVar("Input:fontSize-placeholder-#{$componentName}--#{$variantName}");
  }
}

@layer components {
  .textarea {
    display: block;
    width: 100%;
    line-height: 1.5em;
    outline: none;
    resize: none;
    border-style: solid;
    border-width: 1px;
    transition:
      border 0.1s ease-in-out,
      box-shadow 0.1s ease-in-out,
      background 0.1s ease-in-out;
    @include t.paddingVars($themeVars, $componentName);
    @include variant("default");

    &.error {
      @include variant("error");
    }

    &.warning {
      @include variant("warning");
    }

    &.valid {
      @include variant("success");
    }

    &:is(:disabled) {
      cursor: not-allowed;
      background-color: $backgroundColor-TextArea--disabled;
      color: $textColor-TextArea--disabled;
      border-color: $borderColor-TextArea--disabled;
    }
  }

  .resizeHorizontal {
    resize: horizontal;
  }

  .resizeVertical {
    resize: vertical;
  }

  .resizeBoth {
    resize: both;
  }

  .container {
    position: relative;
    display: block;
    width: 100%;
  }

  .floatingFeedback {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}