@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: (
);

@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "Table";
$textColor-pagination-Table: createThemeVar("textColor-pagination-#{$component}");
$backgroundColor-Table: createThemeVar("backgroundColor-#{$component}");
$textColor-Table: createThemeVar("textColor-#{$component}");
$backgroundColor-row-Table: createThemeVar("backgroundColor-row-#{$component}");
$backgroundColor-row-Table--hover: createThemeVar("backgroundColor-row-#{$component}--hover");
$backgroundColor-selected-Table: createThemeVar("backgroundColor-selected-#{$component}");
$backgroundColor-selected-Table--hover: createThemeVar("backgroundColor-selected-#{$component}--hover");
$backgroundColor-heading-Table: createThemeVar("backgroundColor-heading-#{$component}");
$backgroundColor-heading-Table--hover: createThemeVar("backgroundColor-heading-#{$component}--hover");
$backgroundColor-heading-Table--active: createThemeVar("backgroundColor-heading-#{$component}--active");
$themeVars: t.composePaddingVars($themeVars, "heading-#{$component}");
$themeVars: t.composePaddingVars($themeVars, "cell-#{$component}");
$paddingHorizontal-cell-first-Table: createThemeVar("paddingHorizontal-cell-first-#{$component}");
$paddingHorizontal-cell-last-Table: createThemeVar("paddingHorizontal-cell-last-#{$component}");
$themeVars: t.composeBorderVars($themeVars, "cell-#{$component}");
$themeVars: t.composeBorderVars($themeVars, $component);
$backgroundColor-pagination-Table: createThemeVar("backgroundColor-pagination-#{$component}");
$textColor-heading-Table: createThemeVar("textColor-heading-#{$component}");
$fontWeight-row-Table: createThemeVar("fontWeight-row-#{$component}");
$fontSize-row-Table: createThemeVar("fontSize-row-#{$component}");
$fontWeight-heading-Table: createThemeVar("fontWeight-heading-#{$component}");
$fontSize-heading-Table: createThemeVar("fontSize-heading-#{$component}");
$textTransform-heading-Table: createThemeVar("textTransform-heading-#{$component}");
$borderRadius-Table: createThemeVar("borderRadius-#{$component}");

// Variables for @layer section
$outlineWidth-heading-Table--focus: createThemeVar('outlineWidth-heading-#{$component}--focus');
$outlineColor-heading-Table--focus: createThemeVar('outlineColor-heading-#{$component}--focus');
$outlineStyle-heading-Table--focus: createThemeVar('outlineStyle-heading-#{$component}--focus');
$outlineOffset-heading-Table--focus: createThemeVar('outlineOffset-heading-#{$component}--focus');
$borderBottom-cell-Table: createThemeVar("borderBottom-cell-Table");
$borderBottom-last-row-Table: createThemeVar("borderBottom-last-row-Table");
$borderColor-cell-Table: createThemeVar("borderColor-cell-Table");

@layer components {
  .wrapper {
    width: 100%;
    outline: none;
    overflow: auto;
    isolation: isolate;
    border-radius: $borderRadius-Table;
    @include t.borderVars($themeVars, $component);

    &.noScroll {
      overflow-y: initial;
    }
  }

  .tableBody {
    display: inline-block;
    min-width: 100%;
    background-color: $backgroundColor-Table;
  }

  .clickableHeader {
    width: 100%;
    height: 100%;
    color: $textColor-heading-Table;
    background-color: transparent;
    border: none;
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
    @include t.paddingVars($themeVars, "heading-#{$component}");

    .headerContent {
      padding: 0;

      .orderingIndicator {
        width: 16px;
        display: inline-flex;
        visibility: hidden;

        &.activeOrdering,
        &.alwaysShow {
          visibility: visible;
        }
      }
    }

    &:not([disabled]) {
      &:hover {
        background-color: $backgroundColor-heading-Table--hover;

        .headerContent > .orderingIndicator {
          visibility: visible;
        }
      }

      &:active {
        background-color: $backgroundColor-heading-Table--active;
      }

      &:focus-visible {
        outline-width: $outlineWidth-heading-Table--focus;
        outline-color: $outlineColor-heading-Table--focus;
        outline-style: $outlineStyle-heading-Table--focus;
        outline-offset: $outlineOffset-heading-Table--focus;

        .headerContent > .orderingIndicator {
          opacity: 1;
        }
      }
    }
  }

  .headerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: t.$space-1;
    max-width: 100%;
    text-transform: $textTransform-heading-Table;
    font-size: $fontSize-heading-Table;
    color: $textColor-heading-Table;
    font-weight: $fontWeight-heading-Table;
    @include t.paddingVars($themeVars, "heading-#{$component}");
  }

  .headerRow {
    height: 100%;
    background-color: $backgroundColor-heading-Table;
  }

  .columnCell,
  .cell {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.alignTop {
      align-items: flex-start;
    }

    &.alignCenter {
      align-items: center;
    }

    &.alignBottom {
      align-items: flex-end;
    }
  }

  .table {
    display: block;
    color: $textColor-Table;

    .row,
    .headerRow {
      display: flex;
      flex-direction: row;
      border-bottom: $borderBottom-cell-Table;
      //background-color: inherit;

      .checkBoxWrapper {
        font-size: t.$fontSize;
        visibility: hidden;

        &.showInHeader {
          visibility: visible;
        }
      }

      &:hover,
      &.selected,
      &:focus-within,
      &.allSelected {
        .checkBoxWrapper {
          visibility: visible;
        }
      }

      .columnCell:first-child {
        .headerContent {
          padding-left: $paddingHorizontal-cell-first-Table;
        }

        >button {
          padding-left: $paddingHorizontal-cell-first-Table;

          .headerContent {
            padding-left: 0;
          }
        }
      }

      .columnCell:last-child {
        .headerContent {
          padding-right: $paddingHorizontal-cell-last-Table;
        }

        >button {
          padding-right: $paddingHorizontal-cell-last-Table;

          .headerContent {
            padding-right: 0;
          }
        }
      }

      .cell:first-child {
        .cellContent {
          padding-left: $paddingHorizontal-cell-first-Table;
          border-left: 0;
        }

      }

      .cell:last-child {
        .cellContent {
          padding-right: $paddingHorizontal-cell-last-Table;
          border-right: 0;
        }
      }
    }

    .row {
      font-size: $fontSize-row-Table;
      font-weight: $fontWeight-row-Table;
      background-color: $backgroundColor-row-Table;

      &.selected {
        background-color: $backgroundColor-selected-Table;

        .cell {
          background-color: $backgroundColor-selected-Table;

        }
      }

      &:hover {
        background-color: $backgroundColor-row-Table--hover;

        .cell {
          background-color: $backgroundColor-row-Table--hover;
        }
      }

      &.selected.focused {
        background-color: $backgroundColor-selected-Table;

        .cell {
          background-color: $backgroundColor-selected-Table;
        }
      }

      &.selected:hover {
        background-color: $backgroundColor-selected-Table--hover;

        .cell {
          background-color: $backgroundColor-selected-Table--hover;
        }
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.6;
      }

      &:last-child{
        border-bottom: $borderBottom-last-row-Table;
      }

      &.noBottomBorder:last-child {
        border-bottom: none;
      }
    }
  }

  .cellContent {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    @include t.paddingVars($themeVars, "cell-#{$component}");
  }

  .headerWrapper {
    position: sticky;
    top: 0;
    z-index: 2;
    display: inline-block;
    background-color: $backgroundColor-Table;
  }

  .columnCell {
    background-color: $backgroundColor-heading-Table;
    text-align: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;

    // Reset font-size for select column to prevent checkbox from inheriting header font-size
    &[data-column-id="select"] {
      .headerContent {
        font-size: t.$fontSize-sm;
      }
    }
  }

  .noRows {
    width: 100%;
    text-align: center;
    margin-top: t.$space-16;
  }

  .pagination {
    position: sticky;
    left: 0;
    padding-top: t.$space-4;
    padding-bottom: t.$space-4;
    padding-inline: t.$space-4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: t.$space-8;
    width: 100%;
    margin: 0 auto;
    background-color: $backgroundColor-pagination-Table;
  }

  .paginationLabel {
    color: $textColor-pagination-Table;
    font-size: t.$fontSize-sm;
  }

  .paginationSelect {
    color: inherit;
    background-color: transparent;
    margin-left: t.$space-4;
  }

  .paginationButtons {
    display: flex;
    flex-direction: row;
  }

  .searchIconWrapper {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loadingWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: t.$space-2;
    padding-bottom: t.$space-2;
  }

  .checkBoxWrapper {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    // Force hover state for extended interaction zone
    &.forceHoverWrapper {
      opacity: 1;
    }
  }

  .resizer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 6px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    right: 0;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background: $borderColor-cell-Table;
    }
  }

  .resizer.isResizing {
    opacity: 1;

    &:before {
      box-shadow: t.$boxShadow;
    }
  }

  @media (hover: hover) {
    .resizer {
      opacity: 0;
    }

    *:hover>.resizer {
      opacity: 1;
    }
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}