@use "../Menu/Menu.module.scss" as menu;

$themeVars: "";

@function createThemeVar($componentVariable) {
  @return var(--xmlui-#{$componentVariable});
}

$backgroundColor-ContextMenu: createThemeVar("backgroundColor-ContextMenu");
$borderRadius-ContextMenu: createThemeVar("borderRadius-ContextMenu");
$boxShadow-ContextMenu: createThemeVar("boxShadow-ContextMenu");
$borderColor-ContextMenu-content: createThemeVar("borderColor-ContextMenu-content");
$borderWidth-ContextMenu-content: createThemeVar("borderWidth-ContextMenu-content");
$borderStyle-ContextMenu-content: createThemeVar("borderStyle-ContextMenu-content");
$minWidth-ContextMenu: createThemeVar("minWidth-ContextMenu");

.content {
  @include menu.menuContent;
  position: fixed;
  z-index: 9999;
  min-width: $minWidth-ContextMenu;
  padding: 4px;
  border: $borderWidth-ContextMenu-content $borderStyle-ContextMenu-content $borderColor-ContextMenu-content;
  border-radius: $borderRadius-ContextMenu;
  background-color: $backgroundColor-ContextMenu;
  box-shadow: $boxShadow-ContextMenu;
  animation-duration: 200ms;
}

:export {
  themeVars: "";
}
