@use "xmlui/themes.scss" as themes;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
  border-bottom: 1px solid themes.$borderColor;
  background-color: themes.$backgroundColor;
  padding: 0 16px 0 16px
}

.description {
  font-size: 12px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .2rem;
}

.separator {
  height: 20px;
  min-height: auto;
}
