@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "Badge";
$themeVars: t.composeBorderVars($themeVars, $component);
$themeVars: t.composePaddingVars($themeVars, $component);
$themeVars: t.composePaddingVars($themeVars, "#{$component}-pill");
$color-bg-Badge: createThemeVar("color-bg-#{$component}");
$color-text-Badge: createThemeVar("color-text-#{$component}");
$font-size-Badge: createThemeVar("font-size-#{$component}");
$font-size-Badge-pill: createThemeVar("font-size-#{$component}-pill");
$font-weight-Badge: createThemeVar("font-weight-#{$component}");
$font-weight-Badge-pill: createThemeVar("font-weight-#{$component}-pill");

.badge {
  @include t.paddingVars($themeVars, $component);
  @include t.borderVars($themeVars, $component);
  display: inline-block;
  width: fit-content;
  vertical-align: top;
  min-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: $font-weight-Badge;

  background-color: $color-bg-Badge;
  color: $color-text-Badge;
  font-size: $font-size-Badge;
}

.pill {
  @include t.paddingVars($themeVars, "#{$component}-pill");
  display: inline-block;
  width: fit-content;
  vertical-align: top;
  min-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: $font-weight-Badge-pill;

  background-color: $color-bg-Badge;
  color: $color-text-Badge;
  border-radius: 9999px;
  font-size: $font-size-Badge-pill;
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
