$themeVars: "";
@function createThemeVar($componentVariable) {
  @return var(--xmlui-#{$componentVariable});
}

$backgroundColor-Badge: createThemeVar("backgroundColor-Badge");
$textColor-Badge: createThemeVar("textColor-Badge");
$textAlign-Badge: createThemeVar("textAlign-Badge");
$fontSize-Badge: createThemeVar("fontSize-Badge");
$fontWeight-Badge: createThemeVar("fontWeight-Badge");
$borderRadius-Badge: createThemeVar("borderRadius-Badge");
$padding-Badge: createThemeVar("padding-Badge");
$paddingHorizontal-Badge: createThemeVar("paddingHorizontal-Badge");
$paddingVertical-Badge: createThemeVar("paddingVertical-Badge");
$paddingTop-Badge: createThemeVar("paddingTop-Badge");
$paddingRight-Badge: createThemeVar("paddingRight-Badge");
$paddingBottom-Badge: createThemeVar("paddingBottom-Badge");
$paddingLeft-Badge: createThemeVar("paddingLeft-Badge");
$border-Badge: createThemeVar("border-Badge");
$borderHorizontal-Badge: createThemeVar("borderHorizontal-Badge");
$borderVertical-Badge: createThemeVar("borderVertical-Badge");
$borderTop-Badge: createThemeVar("borderTop-Badge");
$borderRight-Badge: createThemeVar("borderRight-Badge");
$borderBottom-Badge: createThemeVar("borderBottom-Badge");
$borderLeft-Badge: createThemeVar("borderLeft-Badge");
$borderColor-Badge: createThemeVar("borderColor-Badge");
$borderHorizontalColor-Badge: createThemeVar("borderHorizontalColor-Badge");
$borderVerticalColor-Badge: createThemeVar("borderVerticalColor-Badge");
$borderTopColor-Badge: createThemeVar("borderTopColor-Badge");
$borderRightColor-Badge: createThemeVar("borderRightColor-Badge");
$borderBottomColor-Badge: createThemeVar("borderBottomColor-Badge");
$borderLeftColor-Badge: createThemeVar("borderLeftColor-Badge");
$borderStyle-Badge: createThemeVar("borderStyle-Badge");
$borderHorizontalStyle-Badge: createThemeVar("borderHorizontalStyle-Badge");
$borderVerticalStyle-Badge: createThemeVar("borderVerticalStyle-Badge");
$borderTopStyle-Badge: createThemeVar("borderTopStyle-Badge");
$borderRightStyle-Badge: createThemeVar("borderRightStyle-Badge");
$borderBottomStyle-Badge: createThemeVar("borderBottomStyle-Badge");
$borderLeftStyle-Badge: createThemeVar("borderLeftStyle-Badge");
$borderWidth-Badge: createThemeVar("borderWidth-Badge");
$borderHorizontalWidth-Badge: createThemeVar("borderHorizontalWidth-Badge");
$borderVerticalWidth-Badge: createThemeVar("borderVerticalWidth-Badge");
$borderTopWidth-Badge: createThemeVar("borderTopWidth-Badge");
$borderRightWidth-Badge: createThemeVar("borderRightWidth-Badge");
$borderBottomWidth-Badge: createThemeVar("borderBottomWidth-Badge");
$borderLeftWidth-Badge: createThemeVar("borderLeftWidth-Badge");

$fontSize-Badge-pill: createThemeVar("fontSize-Badge-pill");
$fontWeight-Badge-pill: createThemeVar("fontWeight-Badge-pill");
$textColor-Badge-pill: createThemeVar("textColor-Badge-pill");
$textAlign-Badge-pill: createThemeVar("textAlign-Badge-pill");
$padding-Badge-pill: createThemeVar("padding-Badge-pill");
$paddingHorizontal-Badge-pill: createThemeVar("paddingHorizontal-Badge-pill");
$paddingVertical-Badge-pill: createThemeVar("paddingVertical-Badge-pill");
$paddingTop-Badge-pill: createThemeVar("paddingTop-Badge-pill");
$paddingRight-Badge-pill: createThemeVar("paddingRight-Badge-pill");
$paddingBottom-Badge-pill: createThemeVar("paddingBottom-Badge-pill");
$paddingLeft-Badge-pill: createThemeVar("paddingLeft-Badge-pill");
$border-Badge-pill: createThemeVar("border-Badge-pill");
$borderHorizontal-Badge-pill: createThemeVar("borderHorizontal-Badge-pill");
$borderVertical-Badge-pill: createThemeVar("borderVertical-Badge-pill");
$borderTop-Badge-pill: createThemeVar("borderTop-Badge-pill");
$borderRight-Badge-pill: createThemeVar("borderRight-Badge-pill");
$borderBottom-Badge-pill: createThemeVar("borderBottom-Badge-pill");
$borderLeft-Badge-pill: createThemeVar("borderLeft-Badge-pill");
$borderColor-Badge-pill: createThemeVar("borderColor-Badge-pill");
$borderHorizontalColor-Badge-pill: createThemeVar("borderHorizontalColor-Badge-pill");
$borderVerticalColor-Badge-pill: createThemeVar("borderVerticalColor-Badge-pill");
$borderTopColor-Badge-pill: createThemeVar("borderTopColor-Badge-pill");
$borderRightColor-Badge-pill: createThemeVar("borderRightColor-Badge-pill");
$borderBottomColor-Badge-pill: createThemeVar("borderBottomColor-Badge-pill");
$borderLeftColor-Badge-pill: createThemeVar("borderLeftColor-Badge-pill");
$borderStyle-Badge-pill: createThemeVar("borderStyle-Badge-pill");
$borderHorizontalStyle-Badge-pill: createThemeVar("borderHorizontalStyle-Badge-pill");
$borderVerticalStyle-Badge-pill: createThemeVar("borderVerticalStyle-Badge-pill");
$borderTopStyle-Badge-pill: createThemeVar("borderTopStyle-Badge-pill");
$borderRightStyle-Badge-pill: createThemeVar("borderRightStyle-Badge-pill");
$borderBottomStyle-Badge-pill: createThemeVar("borderBottomStyle-Badge-pill");
$borderLeftStyle-Badge-pill: createThemeVar("borderLeftStyle-Badge-pill");
$borderWidth-Badge-pill: createThemeVar("borderWidth-Badge-pill");
$borderHorizontalWidth-Badge-pill: createThemeVar("borderHorizontalWidth-Badge-pill");
$borderVerticalWidth-Badge-pill: createThemeVar("borderVerticalWidth-Badge-pill");
$borderTopWidth-Badge-pill: createThemeVar("borderTopWidth-Badge-pill");
$borderRightWidth-Badge-pill: createThemeVar("borderRightWidth-Badge-pill");
$borderBottomWidth-Badge-pill: createThemeVar("borderBottomWidth-Badge-pill");
$borderLeftWidth-Badge-pill: createThemeVar("borderLeftWidth-Badge-pill");

:export {
  themeVars: "";
}

@mixin badgePadding($component, $padding, $horizontal, $vertical, $top, $right, $bottom, $left) {
  padding: $padding;
  padding-left: var(--xmlui-paddingHorizontal-#{$component}, #{$padding});
  padding-right: var(--xmlui-paddingHorizontal-#{$component}, #{$padding});
  padding-top: var(--xmlui-paddingVertical-#{$component}, #{$padding});
  padding-bottom: var(--xmlui-paddingVertical-#{$component}, #{$padding});
  padding-left: var(--xmlui-paddingLeft-#{$component}, var(--xmlui-paddingHorizontal-#{$component}, #{$padding}));
  padding-right: var(--xmlui-paddingRight-#{$component}, var(--xmlui-paddingHorizontal-#{$component}, #{$padding}));
  padding-top: var(--xmlui-paddingTop-#{$component}, var(--xmlui-paddingVertical-#{$component}, #{$padding}));
  padding-bottom: var(--xmlui-paddingBottom-#{$component}, var(--xmlui-paddingVertical-#{$component}, #{$padding}));
}

@mixin badgeBorder($component, $border) {
  border: $border;
  border-left: var(--xmlui-borderHorizontal-#{$component}, #{$border});
  border-right: var(--xmlui-borderHorizontal-#{$component}, #{$border});
  border-top: var(--xmlui-borderVertical-#{$component}, #{$border});
  border-bottom: var(--xmlui-borderVertical-#{$component}, #{$border});
  border-left: var(--xmlui-borderLeft-#{$component}, var(--xmlui-borderHorizontal-#{$component}, #{$border}));
  border-right: var(--xmlui-borderRight-#{$component}, var(--xmlui-borderHorizontal-#{$component}, #{$border}));
  border-top: var(--xmlui-borderTop-#{$component}, var(--xmlui-borderVertical-#{$component}, #{$border}));
  border-bottom: var(--xmlui-borderBottom-#{$component}, var(--xmlui-borderVertical-#{$component}, #{$border}));
}

@layer components {
  .container {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    vertical-align: top;
    min-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .badge {
    @include badgePadding("Badge", $padding-Badge, $paddingHorizontal-Badge, $paddingVertical-Badge, $paddingTop-Badge, $paddingRight-Badge, $paddingBottom-Badge, $paddingLeft-Badge);
    @include badgeBorder("Badge", $border-Badge);
    background-color: $backgroundColor-Badge;
    color: $textColor-Badge;
    text-align: $textAlign-Badge;
    font-size: $fontSize-Badge;
    font-weight: $fontWeight-Badge;
    border-radius: $borderRadius-Badge;
    text-transform: uppercase;
  }

  .pill {
    @include badgePadding("Badge-pill", var(--xmlui-padding-Badge-pill, #{$padding-Badge}), $paddingHorizontal-Badge-pill, $paddingVertical-Badge-pill, $paddingTop-Badge-pill, $paddingRight-Badge-pill, $paddingBottom-Badge-pill, $paddingLeft-Badge-pill);
    @include badgeBorder("Badge-pill", var(--xmlui-border-Badge-pill, #{$border-Badge}));
    color: var(--xmlui-textColor-Badge-pill, #{$textColor-Badge});
    text-align: var(--xmlui-textAlign-Badge-pill, #{$textAlign-Badge});
    font-size: $fontSize-Badge-pill;
    font-weight: var(--xmlui-fontWeight-Badge-pill, #{$fontWeight-Badge});
    border-radius: 9999px;
  }
}
