@use "../../components-core/theming/themes" as t;

.wrapper{
  :global(.apexcharts-text){
    fill: t.$color-text-primary !important;
  }

  :global(.apexcharts-legend-text){
    color: t.$color-text-primary !important;
  }
  
  :global(.apexcharts-gridline) {
    stroke: t.$color-border !important;
  }
}