$themeVars: "";
@function createThemeVar($componentVariable) {
  @return var(--xmlui-#{$componentVariable});
}

$gap-FormItem: createThemeVar("gap-FormItem");
$gap-label-FormItem: createThemeVar("gap-label-FormItem");
$width-label-FormItem: createThemeVar("width-label-FormItem");
$textColor-label-FormItem: createThemeVar("textColor-label-FormItem");
$textColor-label-formItem: createThemeVar("textColor-label-formItem");
$fontSize-label-formItem: createThemeVar("fontSize-label-formItem");
$fontWeight-label-FormItem: createThemeVar("fontWeight-label-FormItem");
$fontWeight-label-formItem: createThemeVar("fontWeight-label-formItem");
$fontStyle-label-formItem: createThemeVar("fontStyle-label-formItem");
$textTransform-label-formItem: createThemeVar("textTransform-label-formItem");
$textColor-requiredMark-formItem: createThemeVar("textColor-requiredMark-formItem");
$textColor-optionalTag-formItem: createThemeVar("textColor-optionalTag-formItem");
$textColor-error-FormItem: createThemeVar("textColor-error-FormItem");
$fontSize-error-FormItem: createThemeVar("fontSize-error-FormItem");
$borderColor-input-FormItem--error: createThemeVar("borderColor-input-FormItem--error");

.formItem {
  display: flex;
  flex-direction: column;
  gap: $gap-FormItem;
}

.noLabel {
  width: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap-label-FormItem;
}

.labelTop {
  flex-direction: column;
  align-items: stretch;
}

.labelStart,
.labelBefore {
  flex-direction: row;
}

.labelEnd,
.labelAfter {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.label {
  flex-shrink: 0;
  color: var(--xmlui-textColor-label-formItem, #{$textColor-label-FormItem});
  font-size: $fontSize-label-formItem;
  font-weight: var(--xmlui-fontWeight-label-formItem, #{$fontWeight-label-FormItem});
  font-style: $fontStyle-label-formItem;
  text-transform: $textTransform-label-formItem;
  white-space: nowrap;
}

.labelBreak {
  white-space: normal;
}

.labelStart .label,
.labelBefore .label,
.labelEnd .label,
.labelAfter .label {
  width: $width-label-FormItem;
}

.requiredIndicator {
  margin-left: 0.125rem;
  color: $textColor-requiredMark-formItem;
}

.optionalIndicator {
  margin-left: 0.25rem;
  color: $textColor-optionalTag-formItem;
}

.control {
  min-width: 0;
}

.itemsStack {
  display: flex;
  flex-direction: column;
  gap: var(--xmlui-gap-Form);
  width: 100%;
}

.validationStatusIndicator {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999px;
  background: currentColor;
}

.input {
  box-sizing: border-box;
  min-width: 16rem;
}

.errorInput {
  border-color: $borderColor-input-FormItem--error;
}

.error {
  color: $textColor-error-FormItem;
  font-size: $fontSize-error-FormItem;
}
