@use "../../components-core/theming/themes" as t;
@use "../Toggle/Toggle.module.scss";

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

@mixin checkboxVariant($variantName) {
  border-radius: createThemeVar("Input:borderRadius-Checkbox-#{$variantName}");
  border-color: createThemeVar("Input:borderColor-Checkbox-#{$variantName}");
  background-color: createThemeVar("Input:backgroundColor-Checkbox-#{$variantName}");

  &:focus-visible{
    outline-width: createThemeVar('Input:outlineWidth-Checkbox-#{$variantName}--focus');
    outline-color: createThemeVar('Input:outlineColor-Checkbox-#{$variantName}--focus');
    outline-style: createThemeVar('Input:outlineStyle-Checkbox-#{$variantName}--focus');
    outline-offset: createThemeVar('Input:outlineOffset-Checkbox-#{$variantName}--focus');
  }
}

@mixin hoverAndDisabledState($componentName) {
  &:hover {
    border-color: createThemeVar("Input:borderColor-#{$componentName}-default--hover");
  }

  &:disabled {
    cursor: not-allowed;
    background-color: createThemeVar("Input:backgroundColor-#{$componentName}--disabled");
    border-color: createThemeVar("Input:borderColor-#{$componentName}--disabled");
  }
}

@mixin checkedState($componentName) {
  &:checked {
    border-color: createThemeVar("Input:borderColor-checked-#{$componentName}");
    background-color: createThemeVar("Input:backgroundColor-checked-#{$componentName}");
  }

  &:checked:disabled {
    background-color: createThemeVar("Input:backgroundColor-#{$componentName}--disabled");
    border-color: createThemeVar("Input:borderColor-#{$componentName}--disabled");
  }

  &:checked.error {
    border-color: createThemeVar("Input:borderColor-checked-#{$componentName}-error");
    background-color: createThemeVar("Input:backgroundColor-checked-#{$componentName}-error");
  }

  &:checked.warning {
    border-color: createThemeVar("Input:borderColor-checked-#{$componentName}-warning");
    background-color: createThemeVar("Input:backgroundColor-checked-#{$componentName}-warning");
  }

  &:checked.valid {
    border-color: createThemeVar("Input:borderColor-checked-#{$componentName}-success");
    background-color: createThemeVar("Input:backgroundColor-checked-#{$componentName}-success");
  }
}

.checkbox {
  display: grid;
  place-content: center;
  min-width: 1em;
  min-height: 1em;
  width: 1em;
  height: 1em;
  border: 2px solid transparent;

  &:not([readonly]) {
    cursor: pointer;
  }

  @include checkboxVariant("default");
  @include hoverAndDisabledState("Checkbox");

  &.error {
    @include checkboxVariant("error");
  }

  &.warning {
    @include checkboxVariant("warning");
  }

  &.valid {
    @include checkboxVariant("success");
  }

  &::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    transform: scale(0);
    transition: 0.1s transform ease-out;
    box-shadow: inset 1em 1em createThemeVar("backgroundColor-indicator-Checkbox");
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }

  @include checkedState("Checkbox");

  &:indeterminate {
    background-color: createThemeVar("Input:backgroundColor-checked-Checkbox");
    border-color: createThemeVar("Input:borderColor-checked-Checkbox");

    &[readonly] {
      pointer-events: none;
    }
  }
  &:indeterminate:disabled {
    background-color: createThemeVar("Input:backgroundColor-Checkbox--disabled");
    border-color: createThemeVar("Input:borderColor-Checkbox--disabled");
  }
  &:indeterminate::before {
    clip-path: circle(30% at 50% 50%);
    transform: scale(1);
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
