@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "Splitter";
$shadow-Splitter: createThemeVar("shadow-#{$component}");
$color-bg-Splitter: createThemeVar("color-bg-#{$component}");
$radius-Splitter: createThemeVar("radius-#{$component}");
$color-border-Splitter: createThemeVar("color-border-#{$component}");
$thickness-border-Splitter: createThemeVar("thickness-border-#{$component}");
$style-border-Splitter: createThemeVar("style-border-#{$component}");
$border-Splitter: createThemeVar("border-#{$component}");
$color-bg-resizer-Splitter: createThemeVar("color-bg-resizer-#{$component}");
$thickness-resizer-Splitter: createThemeVar("thickness-resizer-#{$component}");
$cursor-resizer-horizontal-Splitter: createThemeVar("cursor-resizer-horizontal-#{$component}");
$cursor-resizer-vertical-Splitter: createThemeVar("cursor-resizer-vertical-#{$component}");

.splitter {
  overflow: hidden;
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  height: 100%;
  width: 100%;
  box-shadow: $shadow-Splitter;
  background-color: $color-bg-Splitter;
  border-radius: $radius-Splitter;
  border: $border-Splitter $style-border-Splitter $color-border-Splitter;
  user-select: none;

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }
}

.panel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.primaryPanel {
  flex-shrink: 0;
  flex-grow: 0;
  overflow: auto;
  order: 1;
}

.secondaryPanel {
  flex: 1;
  overflow: auto;
  order: 3;
}

.resizer {
  order: 2;
  overflow: hidden;
  background-color: t.useVar($color-bg-resizer-Splitter, transparent);

  &.vertical {
    cursor: t.useVar($cursor-resizer-vertical-Splitter, ns-resize);
    width: 100%;
    height: t.useVar($thickness-resizer-Splitter, 5px);
  }

  &.horizontal {
    cursor: t.useVar($cursor-resizer-horizontal-Splitter, ew-resize);
    width: t.useVar($thickness-resizer-Splitter, 5px);
    height: 100%;
  }
}

.floatingResizer {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s;
  background-color: t.useVar($color-bg-resizer-Splitter, transparent);

  &.vertical {
    cursor: t.useVar($cursor-resizer-vertical-Splitter, ns-resize);
    width: 100%;
    height: t.useVar($thickness-resizer-Splitter, 5px);
    transform: translateY(-50%);
  }

  &.horizontal {
    cursor: t.useVar($cursor-resizer-horizontal-Splitter, ew-resize);
    width: t.useVar($thickness-resizer-Splitter, 5px);
    height: 100%;
    transform: translateX(-50%);
  }
}


// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
