@use "../../component-core/theming/themes" as t;

$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$gap-FlowLayout: createThemeVar("gap-FlowLayout");
$columnGap-FlowLayout: createThemeVar("columnGap-FlowLayout");
$rowGap-FlowLayout: createThemeVar("rowGap-FlowLayout");

@layer components {
  .flowLayout {
    contain: layout;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    column-gap: var(--xmlui-columnGap-FlowLayout);
    row-gap: var(--xmlui-rowGap-FlowLayout);
  }

  .item {
    box-sizing: border-box;
    flex: 0 0 var(--xmlui-itemWidth-FlowLayout);
    min-width: var(--xmlui-minWidth-FlowLayoutItem, 0);
    max-width: var(--xmlui-maxWidth-FlowLayoutItem, 100%);

    & > * {
      width: 100%;
      min-width: 0;
    }
  }

  .break,
  .forceBreak {
    flex-basis: 100%;
    height: 0;
  }

  .alignItemsStart {
    align-items: flex-start;
  }

  .alignItemsCenter {
    align-items: center;
  }

  .alignItemsEnd {
    align-items: flex-end;
  }
}

:export {
  themeVars: t.json-stringify($themeVars);
}
