@use "../../components-core/theming/themes" as t;

@layer components {
  .dialogContent {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
  }

  .dialogActions {
    &:not(:empty) {
      margin-top: t.$space-4;
    }
  }

  @media (min-width: 40em) {
    .dialogActions {
      display: flex;
      justify-content: flex-end;
      gap: t.$space-4;
    }
  }

}

