.featuredPost {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .postsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .postsGrid {
    grid-template-columns: 1fr;
  }
}

.postsGridItem {
  min-width: 0;
  min-height: 0;
}

.sectionAllPosts {
  margin-top: 2.5rem;
}
