@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

// --- Theme vars for paddings
$component: "Footer";
$themeVars: t.composePaddingVars($themeVars, $component);
$themeVars: t.composeBorderVars($themeVars, $component) !global;

// --- Other theme vars
$color-bg-Footer: createThemeVar("color-bg-#{$component}");
$color-text-Footer: createThemeVar("color-text-#{$component}");
$height-Footer: createThemeVar("height-#{$component}");
$font-size-Footer: createThemeVar("font-size-#{$component}");
$align-vertical-Footer: createThemeVar("align-vertical-#{$component}");
$max-content-width-Footer: createThemeVar("max-content-width-#{$component}");

.outerWrapper{
  @include t.borderVars($themeVars, $component);
  background-color: $color-bg-Footer;
  height: $height-Footer;
}

.wrapper {
  width: 100%;
  display: flex;
  min-height: 0;
  height: 100%;
  flex-direction: row;
  @include t.paddingVars($themeVars, $component);
  font-size: $font-size-Footer;
  align-items: $align-vertical-Footer;
  max-width: $max-content-width-Footer;
  color: $color-text-Footer;
  margin: 0 auto;

  &.full{
    max-width: 100%;
  }
}

// --- We export the theme variables to add them to the component renderer
:export{
  themeVars: t.json-stringify($themeVars)
}
