@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "IFrame";
$themeVars: t.composeBorderVars($themeVars, $component);


@layer components {
  .iframe {
    @include t.borderVars($themeVars, $component);

    display: block;
    width: createThemeVar("width-IFrame");
    height: createThemeVar("height-IFrame");
  }
}


// --- We export the theme variables to add them to the component renderer
:export{
  themeVars: t.json-stringify($themeVars)
}
