@use "xmlui/themes.scss" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$boxShadow-page-Pdf: createThemeVar("boxShadow-page-Pdf");
$gap-pages-Pdf: createThemeVar("gap-pages-Pdf");

.document{
  display: flex;
  flex-direction: column;
  gap: $gap-pages-Pdf;
  width: fit-content;
}

.pageContainer {
  position: relative;
  width: fit-content;
}

.page{
  box-shadow: $boxShadow-page-Pdf;
}

// --- We export the theme variables to add them to the component renderer
:export{
  themeVars: t.json-stringify($themeVars)
}