@use "xmlui/themes.scss" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$boxShadow-page-Pdf: createThemeVar("boxShadow-page-Pdf");
$gap-pages-Pdf: createThemeVar("gap-pages-Pdf");

// Annotation theme variables
$borderColor-field-Pdf: createThemeVar("borderColor-field-Pdf");
$backgroundColor-field-Pdf: createThemeVar("backgroundColor-field-Pdf");
$color-selected-Pdf: createThemeVar("color-selected-Pdf");
$boxShadow-selected-Pdf: createThemeVar("boxShadow-selected-Pdf");
$color-delete-Pdf: createThemeVar("color-delete-Pdf");
$color-resizeHandle-Pdf: createThemeVar("color-resizeHandle-Pdf");
$backgroundColor-toolbar-Pdf: createThemeVar("backgroundColor-toolbar-Pdf");
$borderColor-toolbar-Pdf: createThemeVar("borderColor-toolbar-Pdf");
$backgroundColor-text-Pdf: createThemeVar("backgroundColor-text-Pdf");
$backgroundColor-checkbox-Pdf: createThemeVar("backgroundColor-checkbox-Pdf");
$backgroundColor-signature-Pdf: createThemeVar("backgroundColor-signature-Pdf");

.document{
  display: flex;
  flex-direction: column;
  gap: $gap-pages-Pdf;
  width: fit-content;
}

.pageContainer {
  position: relative;
  width: fit-content;
}

.page{
  box-shadow: $boxShadow-page-Pdf;
}

// --- We export the theme variables to add them to the component renderer
:export{
  themeVars: t.json-stringify($themeVars)
}