@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "Card";
$themeVars: t.composePaddingVars($themeVars, $component);
$themeVars: t.composeBorderVars($themeVars, $component);
$shadow-Card: createThemeVar("shadow-Card");
$color-bg-Card: createThemeVar("color-bg-Card");
$radius-Card: createThemeVar("radius-Card");

.wrapper {
  @include t.borderVars($themeVars, $component);
  @include t.paddingVars($themeVars, $component);
  box-shadow: $shadow-Card;
  background-color: $color-bg-Card;
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-default);

  &.horizontal {
    flex-direction: row;
    align-items: center;
    padding-block: t.$space-2;    //TODO TEMP
  }

  &.vertical {  
    flex-direction: column;
  }

  &.isClickable {
    cursor: pointer;
  }
}

// --- We export the theme variables to add them to the component renderer
:export{
  themeVars: t.json-stringify($themeVars)
}
