@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "Card";
$themeVars: t.composePaddingVars($themeVars, $component);
$themeVars: t.composeBorderVars($themeVars, $component);
$boxShadow-Card: createThemeVar("boxShadow-#{$component}");
$backgroundColor-Card: createThemeVar("backgroundColor-#{$component}");
$backgroundColor-Card--hover: createThemeVar("backgroundColor-#{$component}--hover");
$borderRadius-Card: createThemeVar("borderRadius-#{$component}");
$gap-Card: createThemeVar("gap-#{$component}");
$gap-title-Card: createThemeVar("gap-title-#{$component}");
$gap-avatar-Card: createThemeVar("gap-avatar-#{$component}");
$horizontalAlignment-title-Card: createThemeVar("horizontalAlignment-title-#{$component}");
$verticalAlignment-title-Card: createThemeVar("verticalAlignment-title-#{$component}");

@layer components {
  .wrapper {
    @include t.borderVars($themeVars, $component);
    @include t.paddingVars($themeVars, $component);
    box-shadow: $boxShadow-Card;
    background-color: $backgroundColor-Card;
    display: flex;
    flex-direction: column;
    gap: $gap-Card;
    &:hover {
      background-color: $backgroundColor-Card--hover;
    }
    .avatarWrapper {
      display: flex;
      flex-direction: row;
      align-items: $verticalAlignment-title-Card;
      gap: $gap-avatar-Card;
      min-width: 0;
    }

    .titleWrapper {
      display: flex;
      flex-direction: column;
      align-items: $horizontalAlignment-title-Card;
      width: 100%;
      gap: $gap-title-Card;
      min-width: 0;
    }

    &.horizontal {
      flex-direction: row;
      align-items: center;
    }

    &.vertical {
      flex-direction: column;
    }

    &.isClickable {
      cursor: pointer;
    }
  }

  // Add alignment classes needed by useContentAlignment hook
  /* Main axis */
  .justifyItemsStart {
    justify-content: flex-start;
  }
  .justifyItemsCenter {
    justify-content: center;
  }
  .justifyItemsStretch {
    justify-content: stretch;
  }
  .justifyItemsEnd {
    justify-content: flex-end;
  }

  /* Cross axis */
  .alignItemsStart {
    align-items: flex-start;
  }
  .alignItemsCenter {
    align-items: center;
  }
  .alignItemsStretch {
    align-items: stretch;
  }
  .alignItemsEnd {
    align-items: flex-end;
  }
  .alignItemsBaseline {
    align-items: baseline;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
