@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "Avatar";
$themeVars: t.composeBorderVars($themeVars, $component);
$backgroundColor-Avatar: createThemeVar("backgroundColor-#{$component}");
$boxShadow-Avatar: createThemeVar("boxShadow-#{$component}");
$textColor-Avatar: createThemeVar("textColor-#{$component}");
$fontWeight-Avatar: createThemeVar("fontWeight-#{$component}");

@layer components {
  .container {
    @include t.borderVars($themeVars, $component);
    aspect-ratio: 1 / 1;
    background-color: $backgroundColor-Avatar;
    color: $textColor-Avatar;
    flex-shrink: 0;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $fontWeight-Avatar;
    white-space: nowrap;
    user-select: none;
    box-shadow: $boxShadow-Avatar;

    &.xs {
      width: 2em;
      height: 2em;
      font-size: 0.75em;
    }

    &.sm {
      width: 3em;
      height: 3em;
      font-size: 1em;
    }

    &.md {
      width: 4em;
      height: 4em;
      font-size: 1.25em;
    }

    &.lg {
      width: 6em;
      height: 6em;
      font-size: 2em;
    }

    &.clickable {
      cursor: pointer;
    }
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
