@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
$time: 0.3s;
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "NavGroup";
$themeVars: t.composeMarginVars($themeVars, $component) !global;
$themeVars: t.composePaddingVars($themeVars, $component) !global;

$backgroundColor-dropdown: createThemeVar("backgroundColor-dropdown-#{$component}");
$boxShadow-dropdown: createThemeVar("boxShadow-dropdown-#{$component}");
$borderRadius-dropdown: createThemeVar("borderRadius-dropdown-#{$component}");
$minWidth-dropdown: createThemeVar("minWidth-dropdown-#{$component}");
$marginTop-items: createThemeVar("marginTop-items-#{$component}");
$marginBottom-items: createThemeVar("marginBottom-items-#{$component}");
$expandIconAlignment: createThemeVar("expandIconAlignment-#{$component}");

// Compose level-specific padding variables (level1 to level4) with fallback to base NavGroup
$themeVars: t.appendThemeVarWithDefault($themeVars, "padding-level1-#{$component}", t.getThemeVar($themeVars, "padding-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingHorizontal-level1-#{$component}", t.getThemeVar($themeVars, "paddingHorizontal-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingVertical-level1-#{$component}", t.getThemeVar($themeVars, "paddingVertical-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingLeft-level1-#{$component}", t.getThemeVar($themeVars, "paddingLeft-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingRight-level1-#{$component}", t.getThemeVar($themeVars, "paddingRight-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingTop-level1-#{$component}", t.getThemeVar($themeVars, "paddingTop-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingBottom-level1-#{$component}", t.getThemeVar($themeVars, "paddingBottom-#{$component}")) !global;

$themeVars: t.appendThemeVarWithDefault($themeVars, "padding-level2-#{$component}", t.getThemeVar($themeVars, "padding-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingHorizontal-level2-#{$component}", t.getThemeVar($themeVars, "paddingHorizontal-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingVertical-level2-#{$component}", t.getThemeVar($themeVars, "paddingVertical-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingLeft-level2-#{$component}", t.getThemeVar($themeVars, "paddingLeft-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingRight-level2-#{$component}", t.getThemeVar($themeVars, "paddingRight-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingTop-level2-#{$component}", t.getThemeVar($themeVars, "paddingTop-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingBottom-level2-#{$component}", t.getThemeVar($themeVars, "paddingBottom-#{$component}")) !global;

$themeVars: t.appendThemeVarWithDefault($themeVars, "padding-level3-#{$component}", t.getThemeVar($themeVars, "padding-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingHorizontal-level3-#{$component}", t.getThemeVar($themeVars, "paddingHorizontal-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingVertical-level3-#{$component}", t.getThemeVar($themeVars, "paddingVertical-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingLeft-level3-#{$component}", t.getThemeVar($themeVars, "paddingLeft-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingRight-level3-#{$component}", t.getThemeVar($themeVars, "paddingRight-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingTop-level3-#{$component}", t.getThemeVar($themeVars, "paddingTop-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingBottom-level3-#{$component}", t.getThemeVar($themeVars, "paddingBottom-#{$component}")) !global;

$themeVars: t.appendThemeVarWithDefault($themeVars, "padding-level4-#{$component}", t.getThemeVar($themeVars, "padding-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingHorizontal-level4-#{$component}", t.getThemeVar($themeVars, "paddingHorizontal-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingVertical-level4-#{$component}", t.getThemeVar($themeVars, "paddingVertical-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingLeft-level4-#{$component}", t.getThemeVar($themeVars, "paddingLeft-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingRight-level4-#{$component}", t.getThemeVar($themeVars, "paddingRight-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingTop-level4-#{$component}", t.getThemeVar($themeVars, "paddingTop-#{$component}")) !global;
$themeVars: t.appendThemeVarWithDefault($themeVars, "paddingBottom-level4-#{$component}", t.getThemeVar($themeVars, "paddingBottom-#{$component}")) !global;

@layer components {
  .groupWrapper {
    @include t.marginVars($themeVars, $component);
  }

  .navLinkPadding {
    padding: t.getThemeVar($themeVars, "padding-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-#{$component}") !important;
  }

  .navLinkPaddingLevel1 {
    padding: t.getThemeVar($themeVars, "padding-level1-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-level1-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-level1-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-level1-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-level1-#{$component}") !important;
  }

  .navLinkPaddingLevel2 {
    padding: t.getThemeVar($themeVars, "padding-level2-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-level2-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-level2-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-level2-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-level2-#{$component}") !important;
  }

  .navLinkPaddingLevel3 {
    padding: t.getThemeVar($themeVars, "padding-level3-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-level3-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-level3-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-level3-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-level3-#{$component}") !important;
  }

  .navLinkPaddingLevel4 {
    padding: t.getThemeVar($themeVars, "padding-level4-#{$component}") !important;
    padding-left: t.getThemeVar($themeVars, "paddingLeft-level4-#{$component}") !important;
    padding-right: t.getThemeVar($themeVars, "paddingRight-level4-#{$component}") !important;
    padding-top: t.getThemeVar($themeVars, "paddingTop-level4-#{$component}") !important;
    padding-bottom: t.getThemeVar($themeVars, "paddingBottom-level4-#{$component}") !important;
  }

  .dropdownList {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
    overflow-y: hidden;
    background: $backgroundColor-dropdown;
    list-style: none;
    height: fit-content;
    transition: height 0.2s ease;
    box-shadow: $boxShadow-dropdown;
    min-width: $minWidth-dropdown;
    border-radius: $borderRadius-dropdown;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  .groupContent {
    /* The core of the grid animation technique */
    display: grid;
    grid-template-rows: 0fr; /* Initially the content row has 0 height */
    will-change: grid-template-rows;
    transition: grid-template-rows $time cubic-bezier(0.4, 0, 0.2, 1);
    .groupContentInner {
      will-change: opacity;
      opacity: 0;
    }
    &.expanded {
      .groupContentInner {
        opacity: 1;
        overflow: hidden;
      }
      grid-template-rows: 1fr;
    }
  }

  .groupContentInner {
    transition: opacity $time ease-out;
    /* This is the grid item. Its content determines the 'auto' height. */
    overflow: hidden;
    display: flex;
    flex-direction: column;

    /* Add margin between header and first child only */
    > :first-child {
      margin-top: $marginTop-items;
    }

    /* Add margin after the last child */
    > :last-child {
      margin-bottom: $marginBottom-items;
    }
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
