.header {
  padding: 1rem 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #F4F7FD;
}

.description {
  font-size: 12px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .2rem;
}

.button {
  padding: 0.5rem 1rem;
}

:is(html[class~=dark]) {
  .header {
    background-color: #141B27;
    color: #fff;
  }
}

