.header {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
  background-color: #E0EDF9;
}

.description {
  font-size: 12px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .2rem;
}

.button {
  padding: 0.5rem 1rem;
}

:is(html[class~=dark]) {
  .header {
    background-color: #020B1A;
    color: #fff;
  }
}

