.playground {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  z-index: 1;
}

.playground:focus-within {
  z-index: 2;
}

.playground.standalone {
  height: 100vh;
  width: 100vw;
  margin-top: 0;
  border-radius: 0;
  box-shadow: none;
}

.playgroundContent {
  width: 100%;
  height: 100%;
  padding: 0 16px 16px 16px;
  background-color: #E0E7F0;
}

:is(html[class~=dark]) {
  .playgroundContent {
    background-color: #020B1A;
  }
}


