@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$zIndex-StickySection: createThemeVar("zIndex-StickySection");

// --- This part defines the CSS styles
@layer components {
  .stickySection {
    position: sticky;
    // Stack later siblings on top of earlier ones so only the last
    // (current) sticky section remains visible when multiple overlap.
    z-index: $zIndex-StickySection;
  }

  .stickToTop {
    top: 0;
  }

  .stickToBottom {
    bottom: 0;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
