@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "Carousel";

// Variables for @layer section
$width-Carousel: createThemeVar("width-#{$component}");
$height-Carousel: createThemeVar("height-#{$component}");
$height-control-Carousel: createThemeVar("height-control-#{$component}");
$width-control-Carousel: createThemeVar("width-control-#{$component}");
$textColor-control-Carousel: createThemeVar("textColor-control-#{$component}");
$backgroundColor-control-Carousel: createThemeVar("backgroundColor-control-#{$component}");
$borderRadius-control-Carousel: createThemeVar("borderRadius-control-#{$component}");
$backgroundColor-control-hover-Carousel: createThemeVar("backgroundColor-control-hover-#{$component}");
$textColor-control-hover-Carousel: createThemeVar("textColor-control-hover-#{$component}");
$backgroundColor-control-active-Carousel: createThemeVar("backgroundColor-control-active-#{$component}");
$textColor-control-active-Carousel: createThemeVar("textColor-control-active-#{$component}");
$textColor-control-disabled-Carousel: createThemeVar("textColor-control-disabled-#{$component}");
$backgroundColor-control-disabled-Carousel: createThemeVar("backgroundColor-control-disabled-#{$component}");
$width-indicator-Carousel: createThemeVar("width-indicator-#{$component}");
$height-indicator-Carousel: createThemeVar("height-indicator-#{$component}");
$textColor-indicator-Carousel: createThemeVar("textColor-indicator-#{$component}");
$backgroundColor-indicator-Carousel: createThemeVar("backgroundColor-indicator-#{$component}");
$backgroundColor-indicator-hover-Carousel: createThemeVar("backgroundColor-indicator-hover-#{$component}");
$textColor-indicator-hover-Carousel: createThemeVar("textColor-indicator-hover-#{$component}");
$backgroundColor-indicator-active-Carousel: createThemeVar("backgroundColor-indicator-active-#{$component}");
$textColor-indicator-active-Carousel: createThemeVar("textColor-indicator-active-#{$component}");

@layer components {
  .carousel {
    position: relative;
    overflow: hidden;
    width: $width-Carousel;
    height: $height-Carousel;
    justify-content: center;
    align-items: center;
  }

  .innerWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .carouselContentWrapper {
    overflow: hidden;
    height: 100%;
  }

  .carouselContent {
    display: flex;
    height: 100%;
  }

  .vertical {
    flex-direction: column;
  }

  .carouselItem {
    overflow: hidden;
    min-width: 0;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100%;
  }

  .controls {
    z-index: 99;
    display: flex;
    right: 1rem;
    bottom: 1rem;
    position: absolute;
    gap: .6rem;
  }

  .controlButton {
    transition: all .3s;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    height: $height-control-Carousel;
    width: $width-control-Carousel;
    color: $textColor-control-Carousel;
    background-color: $backgroundColor-control-Carousel;
    border-radius: $borderRadius-control-Carousel;
  }

  .controlButton:hover {
    background-color: $backgroundColor-control-hover-Carousel;
    color: $textColor-control-hover-Carousel;
  }

  .controlButton:active {
    background-color: $backgroundColor-control-active-Carousel;
    color: $textColor-control-active-Carousel;
  }

  .controlButton:disabled {
    color: $textColor-control-disabled-Carousel;
    background-color: $backgroundColor-control-disabled-Carousel;
  }

  .indicators {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .indicator {
    transition: all .3s;
    width: $width-indicator-Carousel;
    height: $height-indicator-Carousel;
    border-radius: 2px;
    margin: 0 1px;
    color: $textColor-indicator-Carousel;
    background-color: $backgroundColor-indicator-Carousel;

    &:hover {
      background-color: $backgroundColor-indicator-hover-Carousel;
      color: $textColor-indicator-hover-Carousel;
    }

    &.active {
      background-color: $backgroundColor-indicator-active-Carousel;
      color: $textColor-indicator-active-Carousel;
    }
  }
}


// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}



