.carousel {
  position: relative;
}

.carouselContentWrapper {
  overflow: hidden;
  height: 100%;
}

.carouselContent {
  display: flex;
  height: 100%;
}

.horizontal {
}

.vertical {
  flex-direction: column;
}

.carouselItem {
  min-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}

/*.itemHorizontal {
  padding-left: 1rem;
}

.itemVertical {
  padding-top: 1rem;
}*/

.controlButton {
  z-index: 99;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: absolute;
  height: 2rem;
  width: 2rem;
}

.controlPrevHorizontal {
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
}


.controlPrevVertical {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.controlNextHorizontal {
  right: -3rem;
  top: 50%;
  transform: translateY(-50%);
}

.controlNextVertical {
  bottom: 0;
  right: 50%;
  transform: translateX(50%) rotate(90deg);
}


