$themeVars: "";
@function createThemeVar($componentVariable) {
  @return var(--xmlui-#{$componentVariable});
}

$textColor-ConciseValidationFeedback-error: createThemeVar("textColor-ConciseValidationFeedback-error");
$textColor-ConciseValidationFeedback-valid: createThemeVar("textColor-ConciseValidationFeedback-valid");

.feedback {
  display: inline-flex;
  align-items: center;
}

.icon {
  font-weight: 700;
  line-height: 1;
}

.error {
  color: var($textColor-ConciseValidationFeedback-error);
}

.valid {
  color: var($textColor-ConciseValidationFeedback-valid);
}

.message {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

