@use "@components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$componentName: "MultiOption";

.multiOption {
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: createThemeVar("color-bg-item-#{$componentName}");

  &[data-selected=true] {
    background-color: createThemeVar("color-bg-item-#{$componentName}--hover");
  }

/*  &[data-state=checked] {
    background-color: createThemeVar("color-bg-item-#{$componentName}--active");
  }*/

  &[data-disabled=true] {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    color: createThemeVar("color-text-item-#{$componentName}--disabled");
    font-style: italic;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}


