@use "../../components-core/theming/themes" as t;

@layer components {
  .wrapper{
    //it makes the wrapper element behave like an 'invisible' element, so does not affect layout
    display: contents;

    // --- Default typography and layout styles
    background-color: t.$backgroundColor;
    color: t.$textColor-primary;
    font-family: t.$fontFamily;
    font-feature-settings: t.$font-feature-settings;
    font-size: t.$fontSize;
    font-weight: t.$fontWeight-normal;
    line-height: t.$lineHeight;
    letter-spacing: t.$letterSpacing;
  }

  .root{
    direction: t.$direction;
    --stack-gap-default: #{t.$space-4};

    // --- Default typography and layout styles
    background-color: t.$backgroundColor;
    color: t.$textColor-primary;
    font-family: t.$fontFamily;
    font-feature-settings: t.$font-feature-settings;
    font-size: t.$fontSize;
    font-weight: t.$fontWeight-normal;
    line-height: t.$lineHeight;
    letter-spacing: t.$letterSpacing;
  }

  .baseRootComponent {
    width: 100%;
    position: relative;
    height: inherit;
    overflow: auto;
  }
}