@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "QRCode";
$backgroundColor-QRCode: createThemeVar("backgroundColor-#{$component}");
$color-QRCode: createThemeVar("color-#{$component}");
$padding-QRCode: createThemeVar("padding-#{$component}");
$size-QRCode: createThemeVar("size-#{$component}");

@layer components {
  .container {
    display: inline-flex;
    background-color: $backgroundColor-QRCode;
    padding: $padding-QRCode;
    
    // Ensure the SVG is responsive
    svg {
      display: block;
    }
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
