@use "./theming/themes" as themes;

.wrapper{
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }

  &[data-popper-reference-hidden='true'] {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}
