@use "./theming/themes" as themes;

.wrapper {
  position: relative;
  opacity: .6;
  gap: themes.$space-1;
  padding: themes.$space-1_5 !important;


  &:hover {
    opacity: 1;
  }

  button[data-popper-reference-hidden='true'] {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}

.inspectableNode {
  outline: 1px solid themes.$outlineColor--focus;
  outline-offset: 4px;
  position: relative;
}

.inspectableNode:hover {
  outline: 2px solid themes.$color-primary-500;
}

.inspectOverlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1000;
  pointer-events: auto;
}

.inspectOverlay:hover {
  background: rgba(32, 107, 196, 0.1);
}

.inspectedNode {
  outline: 2px solid themes.$color-primary-500;

  .inspectOverlay {
    background: rgba(32, 107, 196, 0.1);
  }
}
