@use "./theming/themes" as themes;

.innerWrapper {
  --syntax-token-component: #cb5291;
  --syntax-token-delimiter-angle: #66748E;
  --syntax-token-attribute-name: #2d2d2d;
  --syntax-token-equal-sign: #2d2d2d;
  --syntax-token-string: #0074a9;
  --syntax-token-script: #02A1A1;
  --syntax-token-helper: #005AE1;
  --syntax-token-comment: #4E4E4E;
  --syntax-token-escape: #00B248;
  --syntax-token-constant: #708C00;
  --syntax-token-cdata: #079CF1;
  --syntax-token-delimiter-curly: #000000;
  --syntax-token-text: #4e5fb3;
  &.dark{
    --syntax-token-component: #f472b6;
    --syntax-token-delimiter-angle: #97A7C5;
    --syntax-token-attribute-name: #cbd5e1;
    --syntax-token-equal-sign: #cbd5e1;
    --syntax-token-string: #7dd3fc;
    --syntax-token-script: #78DBDB;
    --syntax-token-helper: #80A6F8;
    --syntax-token-comment: #CFCFCF;
    --syntax-token-escape: #61F69D;
    --syntax-token-constant: #BAF80A;
    --syntax-token-cdata: #5CC1F9;
    --syntax-token-delimiter-curly: #FFFFFF;
    --syntax-token-text: #f5f5ff;
  }
  >:global(.shiki){
    background-color: transparent !important;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  padding: 12px;
}

.copyButton {
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: opacity 0.2s;
}
