<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
               <remove name="pushState" />
                <rule name="SPA" stopProcessing="true">
                    <match url="^(?!.*\.(js|css|png|jpg|ico|svg|json)$).*$" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Rewrite" url="/"  appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />

            <mimeMap fileExtension=".json" mimeType="application/json"/>
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
        </staticContent>
    </system.webServer>
</configuration>
