name: Deploy blog - Static Web App

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max-old-space-size=8192"
      TURBO_UI: "false"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          registry-url: https://registry.npmjs.org/

      - name: Cache for Turbo
        uses: rharkor/caching-for-turbo@v2.3.1

      - run: npm ci --prefer-offline

      - name: Build blog
        run: npm run build-blog

      - name: Deploy site
        uses: azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_WEBAPP_DEPLOYMENT_TOKEN_XMLUI_BLOG }}
          action: "upload"
          app_location: "blog/dist"
          skip_app_build: true

