name: Deploy blog (optimized)

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max-old-space-size=8192"
      TURBO_UI: "false"

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          registry-url: https://registry.npmjs.org/

      - name: Cache for Turbo
        uses: rharkor/caching-for-turbo@v2.3.1

      - run: npm ci --prefer-offline

      - run: cd blog && npm run release-ci-optimized

      - name: Deploy site
        uses: azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_WEBAPP_DEPLOYMENT_TOKEN_XMLUI_BLOG }}
          action: "upload"
          app_location: "blog/xmlui-optimized-output"
          skip_app_build: true
          production_branch: "main"
