@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

// Variables for @layer section
$borderRadius-FileInput--focus: createThemeVar("Input:borderRadius-FileInput--focus");
$borderColor-FileInput--focus: createThemeVar("Input:borderColor-FileInput--focus");
$backgroundColor-FileInput--focus: createThemeVar("Input:backgroundColor-FileInput--focus");
$boxShadow-FileInput--focus: createThemeVar("Input:boxShadow-FileInput--focus");
$textColor-FileInput--focus: createThemeVar("Input:textColor-FileInput--focus");
$outlineWidth-FileInput--focus: createThemeVar("Input:outlineWidth-FileInput--focus");
$outlineColor-FileInput--focus: createThemeVar("Input:outlineColor-FileInput--focus");
$outlineStyle-FileInput--focus: createThemeVar("Input:outlineStyle-FileInput--focus");
$outlineOffset-FileInput--focus: createThemeVar("Input:outlineOffset-FileInput--focus");

// --- The FileInput component uses a TextBox and a Button. We do not allow separately customize the
// --- FileInput theme, only through the TextBox and Button themes.

@layer components {
  .container {
    gap: t.$space-2;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .buttonStart {
    flex-direction: row-reverse;
  }

  .buttonEnd {
    flex-direction: row;
  }

  .textBoxWrapper {
    width: 100%;
    border-radius: t.$borderRadius;
    min-height: fit-content;

    &:focus-within {
      border-radius: $borderRadius-FileInput--focus;
      border-color: $borderColor-FileInput--focus;
      background-color: $backgroundColor-FileInput--focus;
      box-shadow: $boxShadow-FileInput--focus;
      color: $textColor-FileInput--focus;
    }

    &:has(.input:focus-visible) {
      outline-width: $outlineWidth-FileInput--focus;
      outline-color: $outlineColor-FileInput--focus;
      outline-style: $outlineStyle-FileInput--focus;
      outline-offset: $outlineOffset-FileInput--focus;
    }
  }

  .button {
    flex-shrink: 0;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
